<!--Registration Page Starts-->
<section id="registration">
  <div class="container-fluid">
    <div class="row window">
      <div class="col-12 d-flex justify-content-center">
        <div class="card text-center form">
          <div class="card-img overlap mt-3">
            <img alt="logo" src="assets/img/logo.png" width="250">
          </div>
          <div class="card-body">
            <div class="card-block">
              <h2 class="mb-3">Sign Up</h2>
              <form (ngSubmit)="onSubmit()" [formGroup]="registerForm" class="text-left">
                <div class="mb-2">
                  <input type="text" class="form-control" formControlName="first_name" name="First Name" placeholder="Enter first name">
                  <div *ngIf="form.first_name.errors && (form.first_name.dirty || form.first_name.touched)" class="text-danger">
                    <small *ngIf="form.first_name.errors.required">
                      First name is required.
                    </small>
                  </div>
                </div>
                <div class="mb-2">
                  <input type="text" class="form-control" formControlName="last_name" name="Last Name" placeholder="Enter last name">
                  <div *ngIf="form.last_name.errors && (form.last_name.dirty || form.last_name.touched)" class="text-danger">
                    <small *ngIf="form.last_name.errors.required">
                      Last name is required.
                    </small>
                  </div>
                </div>
                <div class="mb-2">
                  <input type="text" class="form-control" formControlName="phone_number" name="Phone Number"
                    placeholder="Enter phone number">
                  <div *ngIf="form.phone_number.errors && (form.phone_number.dirty || form.phone_number.touched)" class="text-danger">
                    <small *ngIf="form.phone_number.errors.required">
                      Phone number is required.
                    </small>
                    <small *ngIf="form.phone_number.errors.pattern">
                      Please enter a valid phone number.
                    </small>
                  </div>
                </div>
                <div class="mb-2">
                  <input type="email" class="form-control" formControlName="email" name="Email" placeholder="Enter email"
                    (blur)="checkEmailExists()">
                  <div *ngIf="form.email.errors && (form.email.dirty || form.email.touched)" class="text-danger">
                    <small *ngIf="form.email.errors.exists">
                      😢 Oh noes, this email is already taken!
                    </small>
                    <small *ngIf="form.email.errors.required">
                      Email is required.
                    </small>
                    <small *ngIf="form.email.errors.pattern">
                      Please enter a valid email.
                    </small>
                  </div>
                </div>
                <div class="mb-2">
                  <input type="password" formControlName="password" class="form-control" name="Password" placeholder="Enter password">
                  <div *ngIf="form.password.errors && (form.password.dirty || form.password.touched)" class="text-danger text-left">
                    <small *ngIf="form.password.errors.required">
                      Password is required.
                    </small>
                    <small *ngIf="form.password.errors.minlength">
                      Password must be minimum six characters.
                    </small>
                  </div>
                </div>
                <div class="mb-2">
                  <input type="text" class="form-control" formControlName="referral_code" name="Referral Code"
                    placeholder="Enter referral code (optional)" (blur)="checkReferralCode()">
                  <div *ngIf="form.referral_code.errors && (form.referral_code.dirty || form.referral_code.touched)"
                    class="text-danger text-left">
                    <small *ngIf="form.referral_code.errors.invalid">
                      Please enter valid referral code.
                    </small>
                  </div>
                </div>
                <div *ngIf="signupSuccessful" class="text-success text-left mb-2">
                  Signup successful and your referral code is {{referralCode}}.
                </div>
                <div>
                  <button type="submit" class="btn btn-success btn-block btn-raised">Register</button>
                </div>
              </form>
            </div>
          </div>
          <div class="card-footer">
            <div class="float-right"><a routerLink="/">Already User?</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Registration Page Ends-->